<div  class="lp">
   <div  class="lp-banner">
     <div  class="jumbotron">
        <div class:"text-content">
          <h1  class:"jumbotron-title">一个以书会友的地方</h1>
            <p class:"jumbotron-slogan">
              增长见识，提升智慧
            </p>
            <p class:"jumbotron-lead">
              <a class="btn-lg  lp-b-btn"  href="/products">
                开始行动
              </a>
            </p>
        </div>
     </div>


	
      <div  class="goTop">
        <span   class="fa  fa-chevron-up"></span>
      </div>


  </div>
</div>
